# Bad to Good
## Scenario

You can’t buy a homecoming ticket if you get classified as a “good student”. Can you help Henry poison the classifier? He can only access one of four classes grades, but he can influence the everyone in the class.

## Objective

Modify and submit your tampered math.csv (in `./data`). Try and get Henry classified as a good student. Be careful to not overdo it! Don't overwrite any of the files in `./data`.

In [4]:
# This is the dataframe that you need to modify. Only modify it in-memory, don't save it back to the data directory.

import pandas as pd
math = pd.read_csv("data/math.csv")
math.head()

   StudentID FirstName  LastName  Grade  Absences  Demerits  Score
0       1459      Ivah    Beatty     62         0         3     47
1       1498  Lilliana      Koss     68         0         4     48
2       1174      Cale  Reynolds     88         3         0     79
3       1473    Alanna  Schaefer     69         0         5     44
4       1398      Anya    Howell     82         0         0     82

In [ ]:
# Your code here

In [7]:
# this cell checks your result. You shouldn't need to change anything.

from funcs import check
check(math)

'[-1.] is not good enough. The Homecoming Dance is only for _good_ students.'